@font-face {
    font-family:  'Basic';
    src: url(../fonts/Basic-Regular.ttf);
}

@font-face {
    font-family : 'PT_Sans-Web-Regular';
    src : url(../fonts/PT_Sans-Web-Regular.ttf);
}

@font-face {
    font-family : 'Nunito-Regular';
    src : url(../fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family : 'TitilliumWeb-Regular';
    src : url(../fonts/TitilliumWeb-Regular.ttf);
}

.stat{
    height: 20px;
}
  

.flex-container{
    display:inline-flex;
    margin: 30px 100px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    direction: column;
}

.feed-card-box{
    display: inline-block;
    font-weight: 400;
    width:700px;
    background-color: white;
    height: 130px;
    margin: 20px 0 20px 20px;
    box-sizing: border-box;
    box-shadow: 1px 3px 2px -1px #676B64;
    font-size: 30px;
    font-family: sans-serif;
    cursor: pointer;
    border-radius : 7px;
}


.img-card{
    height: 130px;
    width:100px;
    float: left;
    border-radius : 7px;
}
.feed-card-img{
    width:100%;
    height: 130px;
    opacity: 1;
}

.description-box{
    /* text-align: left; */
    /* margin: 0 10px; */
   float: right;
}
.description{
    margin: 30px 10px 10px 10px;
    clear: both;
    padding-bottom: 2px;
    text-align: left;
    font-size: 14px;
    color: #868585;
    font-family: 'TitilliumWeb-Regular', sans-serif;
}



.heading{
    line-height: 1;
    margin: 5px 10px;
    font-size: 18px;
    color: #20163B;
    font-weight: 300;
    letter-spacing: 0.8px;
    font-family: 'Basic', sans-serif;
}

author, date{
    margin: 0 10px;
    font-family: 'Nunito-Regular', sans-serif;
    color: #6D6965;
    font-size: 14px;
}
author{
    float: left;
}
date{
    float: right;
}

/* User action button CSS */

.actionButtonsDiv{
    width: 20px;
    height: 82px;
    border: 1px solid #C9BBBB;
    float: right;
    margin: 43px -20px 0 0;
    background-color: #FFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    box-shadow: 1px 2px 1px -1px #676B64;
}

.deleteIcon{
    box-sizing: border-box;
    width: 20px;
    height: 27px;
    margin-bottom: 0px;
    padding : 5px 0;
    border-bottom: 0.5px solid #BEB8B8;
    cursor : pointer;
}
.deleteIcon:hover{
    background-color: #F7F4F4;
}
.deleteIcon:active{
    background-color: #B2BBB5;
}


.archiveIcon{
    box-sizing : border-box;
    width: 20px;
    height: 27px;
    margin-bottom : 0px;
    padding: 5px 0;
    border-bottom : 0.5px solid #BEB8B8;
    cursor : pointer;
}
.archiveIcon:hover{
    background-color: #F7F4F4;
}
.archiveIcon:active{
    background-color: #B2BBB5;
}


.publishIcon{
    box-sizing : border-box;
    width: 20px;
    height: 27px;
    margin-bottom : 0px;
    padding : 5px 0;
    cursor : pointer;
}
.publishIcon:hover{
    background-color: #F7F4F4;
}
.publishIcon:active{
    background-color: #B2BBB5;
}

@media(min-width:768px){
    .col-md-3{
        width:20%;
    }

    .col-md-9{
        width:80%;
    }
}