
.stat{
    height: 20px;
}
  


p{
    margin: 20px 10px;
    clear: both;
}

.flex-container{
    display:inline-flex;
    margin: 30px 100px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    direction: column;
}

.card-box{
    width:700px;
    /* border: 1px solid black; */
    height: 100px;
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 4px 5px 6px darkgrey;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
}

.img-card{
    height: 100px;
    width:100px;
    float: left;
}
.card-img{
    width:100%;
    /* margin: 10px; */
    height: 100px;
    /* border: 1px solid; */
}

.discription-box{
    /* text-align: left; */
    /* margin: 0 10px; */
   float: right;
}
.discription{
    text-align: left;
    font-size: 12px;
    color: #A3A3A3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

heading{
    margin: 0 10px;
    font-size: 16px;
    color: #20163B;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

author{
    margin: 0 10px;
    color: #20163B;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

date{
    margin: 0 10px;
    color: #20163B;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}
@media(min-width:768px){
    .col-md-3{
        width:25%;
    }

    .col-md-9{
        width:75%;
    }
}