.App-header {
    background-color: #A3A3A3;
    height: 20px;
    padding: 15px;
    color: white;
    text-align: center;
    position: fixed;
    width : 100%;
    z-index: 10;
}

.nav-span{
    margin-inline-end: 30px;
}