.App-header {
    background-color: #2B2929;
    height: 20px;
    padding: 15px;
    color: white;
    text-align: center;
    position: fixed;
    width : 100%;
}

.nav-span{
    margin-inline-end: 30px;
}